<div class="m-6">

  <!-- <h1 class="text-3xl font-bold underline mb-4">Budget</h1> -->

  <div class="mb-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-1">
      <label for="from-date" class="block text-sm font-medium leading-6 text-gray-900">From Month</label>
      <div class="mt-2">
        <input tabindex="-1" type="month" [(ngModel)]="fromDate" name="from-date" id="from-date"
          autocomplete="given-name"
          class="block w-full rounded-md border-0 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div class="sm:col-span-1">
      <label for="to-date" class="block text-sm font-medium leading-6 text-gray-900">To Month</label>
      <div class="mt-2">
        <input tabindex="-1" [(ngModel)]="toDate" type="month" name="to-date" id="to-date" autocomplete="family-name"
          class="block w-full rounded-md border-0 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>
  </div>

  @if (months().length > 0) {
  <div class="overflow-x-auto">
    <table class="border-collapse border min-w-full border-slate-400 border-spacing-1 h-1">
      <thead>
        <tr>
          <th class="w-64 border border-slate-300 px-2 text-left">Start Period V End Period V</th>
          @for (itemMonth of months(); track $index;) {
          <th class="border border-slate-300 px-2 text-right">{{itemMonth | date: 'MMMM y'}}</th>
          }
        </tr>
      </thead>


      <tbody>
        <tr>
          <td colspan="100%" class="font-bold px-2 text-left">Income</td>
        </tr>
      </tbody>

      @for (itemParentCategory of incomeParentCategories(); track indexParentCategory; let indexParentCategory =
      $index) {
      <tbody appParentCategory (parentCategoryChange)="onIncomeParentCategoryChange($any($event), indexParentCategory)"
        [parentCategory]="incomeParentCategories()[indexParentCategory]"
        [subTotalsParentCategory]="subTotalsIncomeParentCategories()[indexParentCategory]">
      </tbody>
      }

      <tbody>
        <!-- <tr>
          <td colspan="2">
            <button tabindex="-1" (click)="onAddIncomeParentCategory()"
              class="w-full bg-green-500 hover:bg-green-700 text-white font-bold px-2">+Parent
              Category (Income)</button>
          </td>
        </tr> -->

        <tr class="font-bold" appRow [row]="totalsIncomeParentCategories()"></tr>

        <tr>
          <td colspan="100%">&nbsp;</td>
        </tr>
      </tbody>


      <!-- Expenses -->
      <tbody>
        <tr>
          <td colspan="100%" class="font-bold px-2 text-left">Expenses</td>
        </tr>
      </tbody>


      @for (itemParentCategory of expensesParentCategories(); track indexParentCategory; let indexParentCategory =
      $index) {
      <tbody appParentCategory
        (parentCategoryChange)="onExpensesParentCategoryChange($any($event), indexParentCategory)"
        [parentCategory]="expensesParentCategories()[indexParentCategory]"
        [subTotalsParentCategory]="subTotalsExpensesParentCategories()[indexParentCategory]">
      </tbody>
      }

      <tbody>
        <!-- <tr>
          <td colspan="2">
            <button tabindex="-1" (click)="onAddExpensesParentCategory()"
              class="w-full bg-green-500 hover:bg-green-700 text-white font-bold px-2">+Parent
              Category (Expenses)</button>
          </td>
        </tr> -->

        <tr class="font-bold" appRow [row]="totalsExpensesParentCategories()"></tr>

        <tr>
          <td colspan="100%">&nbsp;</td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="font-bold" appRow [row]="profitLoss()"></tr>
        <tr class="font-bold" appRow [row]="openingBalance()"></tr>
        <tr class="font-bold" appRow [row]="closeingBalance()"></tr>
      </tfoot>

    </table>
  </div>
  }


</div>