<!-- <tr>
  <td colspan="2">
    <button tabindex="-1" (click)="onRemoveParentCategoryAtIndex()"
      class="w-full bg-red-500 hover:bg-red-700 text-white font-bold px-2  rounded-sm">-Parent Category</button>
  </td>
</tr> -->
@for (itemCategory of parentCategory(); track indexItemCategory; let
  indexItemCategory =
  $index) {

  <tr #row appRow
    (rowChange)="onRowIncomeChange($any($event), indexItemCategory)"
    [row]="parentCategory()[indexItemCategory]">
  </tr>
  }


  <tr class="font-semibold text-green-500" appRow [row]="subTotalsParentCategory()">
  </tr>

  <!-- <tr>
    <td colspan="100%">&nbsp;</td>
  </tr> -->
